doctype html
html(lang='en')
	head
		meta(charset="utf-8")
		title Untitled
		link(href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css", rel="stylesheet")


	body
		block content

		h1 sections
			h3 translation
			h3 quiz
			h3 progress

		script(type="text/javascript", src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js")
		script(type="text/javascript", src="main.js")