extends layout


block content

	form(id="", method="", action="")
	input.org-lang(type="text", placeholder="Original Language")
	input.target-lang(type="text", placeholder="Target Language")
	input.word-translated(type="text", placeholder="Word to translate")
	button(type="submit").btn.btn-default button