//- rendered before any of the ajax happens (when the user first requests the page)

extends layout

block content

	form.translate-form(id="", method="", action="/submit")
		input.org-lang(type="text", placeholder="Original Language")
		input.target-lang(type="text", placeholder="Target Language")
		input.word-to-translate(type="text", placeholder="Word to translate")
		button(type="submit").btn.btn-default button

	h3 result of translation
		//- p #{result.translation}